.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MQTTDisplay {
  margin: 0 auto;
  max-width: 50em;
  border-style: solid;
  text-align: left;
  padding: 1em;
}

.MQTTSubscription {
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  padding: 1em;
}
.MQTTMessage {
  font-size: 0.8em;
}

.AuthDisplay {
  margin: 0 auto;
  max-width: 50em;
  border-style: solid;
  text-align: left;
  padding: 1em;
}
.AuthData {
  border-style: solid;
  border-width: 1px;
}

.thin-border {
  border-style: solid;
  border-width: 1px;
}

